@font-face {
  font-family: 'Liberation Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Liberation Serif'), url(/resource/1584002529000/vlocity_cmt__cs_pdftron_webfonts_liberationserif/LiberationSerif.ttf?orgId=00D24000000HplA) format( 'truetype');
}

@font-face {
  font-family: 'Liberation Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Liberation Serif Bold'), url(/resource/1584002529000/vlocity_cmt__cs_pdftron_webfonts_liberationserif/LiberationSerifBold.ttf?orgId=00D24000000HplA) format( 'truetype');
}

@font-face {
  font-family: 'Liberation Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Liberation Serif Italic'), url(/resource/1584002529000/vlocity_cmt__cs_pdftron_webfonts_liberationserif/LiberationSerifItalic.ttf?orgId=00D24000000HplA) format( 'truetype');
}

@font-face {
  font-family: 'Liberation Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Liberation Serif Bold Italic'), url(/resource/1584002529000/vlocity_cmt__cs_pdftron_webfonts_liberationserif/LiberationSerifBoldItalic.ttf?orgId=00D24000000HplA) format( 'truetype');
}