.THIS {

}

.THIS .name{
	line-height:2.5;
}

.THIS .points{
	line-height:3;
}

.THIS.back-button-position{
	position:absolute;
    right:20px;
    top:20px;
    z-index:999;
}

.THIS.slds-page-header{
    min-height:92px;
}

.THIS.slds-table{
    min-height:200px;
}